@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body,
html {
    height: 100%;
    background: no-repeat url("../Background/background.png");
    background-size: cover;
    background-position: center;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.row {
    display: flex;
    width: 100%;
    height: fit-content;
}

.container {
    padding: 2.7vw 0vw;
    padding-inline: 6vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title,
.section,
.profile,
.search,
.repositories,
.dateCreated,
.gits {
    backdrop-filter: blur(15px);
    background: rgba(163, 163, 163, 0.2);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    backdrop-filter: blur(15px);
    background: rgba(163, 163, 163, 0.2);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    margin-left: 0.7vw;
    padding-inline: 1.5vw;
    width: 52.3vw;
    height: 15.6vw;
}

.div-Alternative {
    backdrop-filter: blur(15px);
    background: rgba(163, 163, 163, 0.2);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    margin-left: 0.7vw;
    padding-inline: 1.5vw;
    width: 18vw;
    height: 5.5vw;
    display: flex;
    align-items: center;
}

.section {
    margin-left: 0.7vw;
}

.title {
    width: 100%;
    padding-inline: 1.5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    font-size: 0.9vw;
}

.headName {
    font-weight: 600;
   
}

.titleName {
    color: #747474;
}

.titleNames {
    display: flex;
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1vw;
}

.login {
    margin-left: 0.5vw;
    font-weight: 500;
    white-space: nowrap;
}

.icon0 {
    height: 1.1vw;
    margin-left: 0.5vw;
}

.icon {
    height: 1.2vw;
}

.icons {
    height: 1.6vw;
    margin-right: 1.3vw;
    margin-left: 0.4vw;
}

.icons0 {
    height: 1.6vw;
    margin-right: 1vw;
    margin-left: 0.2vw;
    margin-bottom: 0.4vw;
}

.icons1 {
    height: 1.3vw;
    margin-right: 1.1vw;
    margin-left: 0.3vw;
}

.bar2 {
    margin-top: 0.8vw;
    display: flex;
    flex-direction: column;
}

.bar {
    margin-top: 0.8vw;
}

.search {
    height: 3vw;
    width: 35vw;
    padding-inline: 1vw;
}

.input {
    width: 30vw;
    height: 1.6vw;
    border: none;
    background: none;
    outline: none;
    font-size: 0.9vw;
}

.profile {
    width: 35vw;
    height: 5.5vw;
    margin-top: 0.8vw;
    padding-inline: 1.5vw;
}

.profileImg {
    height: 3.5vw;
    border: 2px solid #a1a1a1;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.div-profile {
    display: flex;
    align-items: center;
}

.headText {
    font-size: 0.9vw;
    font-weight: 600;
}

.headText1 {
    margin-left: 1vw;
}

.text {
    font-size: 0.9vw;
    color: #747474;
    font-weight: 500;
}

.oneSection {
    width: 3vw;
}

.repositories,
.gits {
    width: 100%;
    padding-inline: 1.5vw;
    height: 5.5vw;
}

.oneSection {
    display: flex;
    width: 35vw;
    height: fit-content;
}

.repositories {
    margin-right: 0.7vw;
}

.div-RepoGit {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
    width: 100%;
}

.div-time {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.dateCreated {
    width: 35vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    padding: 2.5vw 1.5vw;
}

.flex {
    display: flex;
}

.div-TwoSec {
    display: flex;
    height: 100%;
}

.aboutUser {
    font-weight: 600;
    font-size: 0.9vw;
    color: #747474;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.one {
    font-weight: 500;
    color: #747474;
    margin-right: 1vw;
    font-size: 0.8vw;
}

.two {
    font-weight: 600;
    font-size: 0.8vw;
}

.div-divTwoSec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

.one1 {
    margin-right: 5.5vw;
}
.one2 {
    margin-right: 3.4vw;
}
.one3 {
    margin-right: 4.4vw;
}
.one4{
    margin-right: 3.9vw;
}
.one5 {
    margin-right: 4.3vw;
}
.one6 {
    margin-right: 5.9vw;
}

.one7 {
    margin-right: 3.5vw;
    white-space: nowrap;
}

.div-twitter {
    display: flex;
}