@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body,
html {
    height: 100%;
}

.row {
    display: flex;
    width: 100%;
    height: fit-content;
}

.container {
    padding: 3vw 0vw;
    padding-inline: 6vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title,
.section,
.profile,
.search,
.repositories,
.gits {
    backdrop-filter: blur(40px);
    background: rgba(163, 163, 163, 0.2);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    margin-left: 0.7vw;
}


.title {
    width: 100%;
    padding-inline: 1.5vw;
    height: 3vw;
}

.headName {
    font-weight: 600;
}

.titleName {
    color: #747474;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1vw;
}

.login {
    margin-left: 0.5vw;
    font-weight: 500;
    white-space: nowrap;
}

.icon {
    height: 1.2vw;
}

.icons {
    height: 1.6vw;
    margin-right: 1.3vw;
    margin-left: 0.4vw;
}

.icons0 {
    height: 1.6vw;
    margin-right: 1vw;
    margin-left: 0.2vw;
    margin-bottom: 0.4vw;
}

.icons1 {
    height: 1.3vw;
    margin-right: 1.1vw;
    margin-left: 0.3vw;
}

.bar2 {
    margin-top: 0.8vw;
    display: flex;
    flex-direction: column;
}

.bar {
    margin-top: 0.8vw;
}

.search {
    height: 3vw;
    width: 35vw;
    padding-inline: 1vw;
}

.input {
    width: 30vw;
    height: 1.6vw;
    font-size: 16px;
    border: none;
    background: none;
}

.profile {
    width: 35vw;
    height: 5.5vw;
    margin-top: 0.8vw;
    padding-inline: 1.5vw;
}

.profileImg {
    height: 3.5vw;
    padding-right: 1vw;
}

.div-profile {
    display: flex;
    align-items: center;
}

.headText {
    font-size: 0.9vw;
    font-weight: 600;
}

.text {
    font-size: 0.9vw;
    color: #747474;
    font-weight: 500;
}

.oneSection {
    width: 3vw;
}

.repositories,
.gits {
    width: 100%;
    padding-inline: 1.5vw;
    height: 5.5vw;
}

.oneSection {
    display: flex;
    width: 35vw;
    height: fit-content;
}

.repositories {
    margin-right: 0.7vw;
}

.div-RepoGit {
    display: flex;
    align-items: center;
}